#header {
  background-color: blue;
  font-family: 'Quattrocento', serif;
  color: white;
  display: block;
  padding: 0pt;
  margin: 1pt;
}
.header-title {
  float: left;
}
.header-list li {
  display: inline;
  margin: 3pt;
  float: right;
}
#content {
  background-color: white;
  font-family: 'Quattrocento', serif;
  color: green;
  padding: 0pt;
  margin: 1pt;
}
#footer {
  background-color: black;
  font-family: 'Quattrocento', serif;
  color: green;
  padding: 0pt;
  margin: 1pt;
}
